* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: black;
}

.header__slider {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header__slider-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.6;
}

.header__slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  text-shadow: 0 0 6px white;
}

.header__slider-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__slider-dots span {
  display: inline-block;
  background-color: #000;
  margin: 0 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px white;
          box-shadow: 0 0 0 5px white;
}

.header__slider-dots span.active {
  -webkit-box-shadow: 0 0 0 5px white, 0 0 3px 10px red;
          box-shadow: 0 0 0 5px white, 0 0 3px 10px red;
}

.header__nav {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__nav ul {
  background: gray;
  list-style: none;
  width: 100%;
}

.header__nav li {
  float: left;
  position: relative;
}

.header__nav li:hover a {
  background: #000000;
}

.header__nav li:hover #submenu {
  opacity: 1;
  top: 50px;
}

.header__nav a {
  font-size: 17px;
  background: #30A6E6;
  color: #FFFFFF;
  display: block;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.header__nav #submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  z-index: 1;
}

.header__nav #submenu li {
  float: none;
  width: 100%;
}

.header__nav #submenu a {
  background-color: #000000;
}

.header__nav #submenu a:hover {
  background: #DF4B05;
}

.header__language {
  position: absolute;
  top: 2%;
  left: 2%;
  letter-spacing: 2px;
  padding: 4px;
}

.header__language:hover {
  cursor: pointer;
}

.header__reservation {
  position: absolute;
  top: 30%;
  right: 0;
  border: 1px solid red;
}

.header__reservation button {
  position: absolute;
  top: 30%;
  right: 0%;
  border: 3px solid black;
  width: 270px;
  height: 100px;
  background-color: #be2020;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.header__reservation button span {
  display: block;
  line-height: 100px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header__reservation button span:last-child {
  top: -100px;
  left: 360px;
}

.header__reservation button:hover span:first-child {
  left: -360px;
}

.header__reservation button:hover span:last-child {
  left: 0;
}

.header__rating {
  position: relative;
  top: 75%;
  left: 2vw;
  padding: 50px;
  width: 56px;
  height: 56px;
  font-weight: 600;
  border: 1px solid #ffffff;
  background-color: rgba(19, 90, 78, 0.863);
}

.header__rating p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
}

.rooms {
  color: #ffffff;
  background: url("../img/bg_rooms.png") left no-repeat;
  height: 80vh;
  width: 100%;
  padding: 100px;
}

.rooms__content {
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: left;
  width: 40vw;
}

.rooms__content-title {
  font-size: 50px;
  padding: 50px;
  letter-spacing: 7px;
}

.rooms__content-content {
  font-size: 17px;
  padding: 0 50px 20px 50px;
  line-height: 30px;
}

.rooms__content-btn {
  margin-left: 60%;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.rooms__content-btn:hover {
  color: red;
}

.localization {
  color: #ffffff;
  background: url("../img/bg_localization.png") left no-repeat;
  height: 80vh;
  width: 100%;
  padding: 100px 100px 100px 50%;
}

.localization__content {
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: left;
  width: 40vw;
}

.localization__content-title {
  font-size: 50px;
  padding: 50px;
  letter-spacing: 7px;
}

.localization__content-content {
  font-size: 17px;
  padding: 0 50px 20px 50px;
  line-height: 30px;
}

.localization__content-btn {
  margin-left: 60%;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.localization__content-btn:hover {
  color: red;
}

.relax {
  color: #ffffff;
  background: url("../img/bg_relax.png") left no-repeat;
  height: 80vh;
  width: 100%;
  padding: 100px;
}

.relax__content {
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: left;
  width: 40vw;
}

.relax__content-title {
  font-size: 50px;
  padding: 50px;
  letter-spacing: 7px;
}

.relax__content-content {
  font-size: 17px;
  padding: 0 50px 20px 50px;
  line-height: 30px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__row-content {
  padding: 35px 0;
  width: 35vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.8))), url("../img/bg_contact.png") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("../img/bg_contact.png") no-repeat;
}

.contact__row-content .row .address span {
  display: block;
  font-size: 20px;
}

.contact__row-content .row h4 {
  font-size: 25px;
  letter-spacing: 2px;
  padding: 20px 0;
}

.contact__row-content .reception {
  padding: 20px 0;
  margin: 0 auto;
  width: 300px;
  border: 1px solid #ffffff;
}

.contact__row-content .reception .title {
  letter-spacing: 10px;
  padding-bottom: 15px;
  text-decoration: underline;
}

.contact__row-content .reception .address span {
  display: block;
  font-size: 20px;
}

.contact__row-newsletter {
  padding: 35px 0;
  width: 65vw;
  background-color: #000000;
}

.contact__row-newsletter p {
  padding: 35px 0;
}

.contact__row-newsletter form .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.contact__row-newsletter form .row-1 input {
  margin-right: 15px;
}

.contact__row-newsletter form .row-1 button {
  background-color: #6d1c1c;
  padding: 10px 30px;
  color: #ffffff;
  font-weight: 800;
  border: 1px solid #ffffff;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.contact__row-newsletter form .row-1 button:hover {
  color: black;
}

.contact__map iframe {
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #444;
}

.footer__social-icons a img {
  width: 35px;
  height: 35px;
  margin: 20px 25px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__social-icons a img:hover {
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.footer__top-btn {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 360px) {
  .header__nav {
    left: 70%;
    background-color: #30A6E6;
  }
  .header__reservation {
    opacity: 0;
  }
  .header__rating {
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .rooms,
  .localization {
    padding: 10px;
  }
  .rooms__content,
  .localization__content {
    width: 90vw;
  }
  .rooms__content-title,
  .localization__content-title {
    font-size: 25px;
    padding: 20px;
  }
  .rooms__content-content,
  .localization__content-content {
    font-size: 15px;
    line-height: 25px;
  }
  .rooms__content-btn,
  .localization__content-btn {
    font-size: 12px;
  }
  .relax {
    padding: 10px;
  }
  .relax__content {
    width: 90vw;
  }
  .relax__content-title {
    font-size: 25px;
    padding: 20px;
  }
  .relax__content-content {
    font-size: 15px;
    line-height: 25px;
  }
  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__row-content {
    width: 100vw;
  }
  .contact__row-newsletter {
    width: 100vw;
  }
}

@media screen and (min-width: 1024px) {
  .header__slider-text {
    font-size: 50px;
  }
  .header__nav {
    display: block;
  }
  .header__nav a {
    font-size: 40px;
  }
  .header__reservation {
    opacity: 1;
    top: 50%;
  }
  .header__language {
    font-size: 20px;
  }
  .header__rating {
    padding: 70px;
  }
  .header__rating p {
    font-size: 30px;
  }
  .rooms,
  .localization {
    padding: 50px;
  }
  .rooms__content,
  .localization__content {
    width: 70vw;
  }
  .rooms__content-title,
  .localization__content-title {
    font-size: 55px;
    padding: 50px;
  }
  .rooms__content-content,
  .localization__content-content {
    font-size: 25px;
    line-height: 55px;
  }
  .rooms__content-btn,
  .localization__content-btn {
    font-size: 22px;
  }
  .relax {
    padding: 50px;
  }
  .relax__content {
    width: 70vw;
  }
  .relax__content-title {
    font-size: 55px;
    padding: 50px;
  }
  .relax__content-content {
    font-size: 25px;
    line-height: 55px;
  }
  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__row-content {
    width: 100vw;
    font-size: 1.8rem;
  }
  .contact__row-newsletter {
    width: 100vw;
    font-size: 1.5rem;
  }
  .footer {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    width: 70%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    margin-left: 40px;
    background: none;
  }
  .header__nav a {
    font-size: 26px;
  }
  .header__rating {
    padding: 60px;
  }
  .header__rating p {
    font-size: 25px;
  }
  .contact__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .header__nav {
    width: 60%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    margin-left: 40px;
    background: none;
  }
}
/*# sourceMappingURL=main.css.map */
