@media screen and (min-width: 360px) {
    .header {
        &__nav {
            left: 70%;
            background-color: #30A6E6;
        }

        &__reservation {
            opacity: 0;
        }

        &__rating {
            top: 65%;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .rooms,
    .localization {
        padding: 10px;

        &__content {
            width: 90vw;

            &-title {
                font-size: 25px;
                padding: 20px;
            }

            &-content {
                font-size: 15px;
                line-height: 25px;
            }

            &-btn {
                font-size: 12px;
            }
        }
    }

    .relax {
        padding: 10px;

        &__content {
            width: 90vw;

            &-title {
                font-size: 25px;
                padding: 20px;
            }

            &-content {
                font-size: 15px;
                line-height: 25px;
            }
        }
    }

    .contact {

        &__row {
            flex-direction: column;

            &-content {
                width: 100vw;
            }

            &-newsletter {
                width: 100vw;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        &__slider {
            &-text {
                font-size: 50px;
            }
        }

        &__nav {
            display: block;

            & a {
                font-size: 40px;
            }
        }

        &__reservation {
            opacity: 1;
            top: 50%;
        }

        &__language {
            font-size: 20px;
        }

        &__rating {
            padding: 70px;

            & p {
                font-size: 30px;
            }
        }
    }

    .rooms,
    .localization {
        padding: 50px;

        &__content {
            width: 70vw;

            &-title {
                font-size: 55px;
                padding: 50px;
            }

            &-content {
                font-size: 25px;
                line-height: 55px;
            }

            &-btn {
                font-size: 22px;
            }
        }
    }

    .relax {
        padding: 50px;

        &__content {
            width: 70vw;

            &-title {
                font-size: 55px;
                padding: 50px;
            }

            &-content {
                font-size: 25px;
                line-height: 55px;
            }
        }
    }

    .contact {

        &__row {
            flex-direction: column;

            &-content {
                width: 100vw;
                font-size: 1.8rem;
            }

            &-newsletter {
                width: 100vw;
                font-size: 1.5rem;
            }
        }
    }

    .footer {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .header {

        &__nav {
            width: 70%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            margin-left: 40px;
            background: none;

            & a {
                font-size: 26px;
            }
        }

        &__rating {
            padding: 60px;

            & p {
                font-size: 25px;
            }
        }
    }

    .contact {
        &__row {
            flex-direction: row;
        }
    }

}

@media screen and (min-width: 1440px) {
    .header {
        &__nav {
            width: 60%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            margin-left: 40px;
            background: none;

        }
    }
}