* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #ffffff;
    background-color: black;
}

.header {
    &__slider {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        &-img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.6;
        }

        &-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            font-family: tahoma, sans-serif;
            text-shadow: 0 0 6px white;
        }

        &-dots {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);

            & span {
                display: inline-block;
                background-color: #000;
                margin: 0 20px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                box-shadow: 0 0 0 5px white;

                &.active {
                    box-shadow: 0 0 0 5px white, 0 0 3px 10px red;
                }
            }
        }
    }

    &__nav {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);

        & ul {
            background: gray;
            list-style: none;
            width: 100%;
        }

        & li {
            float: left;
            position: relative;
            width: auto;

            &:hover {
                & a {
                    background: #000000;
                }

                & #submenu {
                    opacity: 1;
                    top: 40px;
                    visibility: visible;
                }
            }
        }

        & a {
            font-size: 17px;
            background: #30A6E6;
            color: #FFFFFF;
            display: block;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            transition: all .25s ease;
        }

        & #submenu {
            left: 0;
            opacity: 0;
            position: absolute;
            top: 35px;
            visibility: hidden;
            z-index: 1;

            & li {
                float: none;
                width: 100%;
            }

            & a {
                background-color: #000000;

                &:hover {
                    background: #DF4B05;
                }
            }
        }
    }

    &__language {
        position: absolute;
        top: 2%;
        left: 2%;
        letter-spacing: 2px;
        padding: 4px;

        &:hover {
            cursor: pointer;
        }
    }

    &__reservation {
        position: absolute;
        top: 30%;
        right: 0;
        // padding: 30px 100px 30px 30px;
        border: 1px solid red;


        & button {
            position: absolute;
            top: 30%;
            right: 0%;
            border: 3px solid black;
            width: 270px;
            height: 100px;
            background-color: rgb(190, 32, 32);
            font-size: 30px;
            text-transform: uppercase;
            overflow: hidden;
            cursor: pointer;

            & span {
                display: block;
                line-height: 100px;
                position: relative;
                top: 0;
                left: 0;
                transition: .2s linear;
            }

            & span:last-child {
                top: -100px;
                left: 360px;
            }

            &:hover span:first-child {
                left: -360px;
            }

            &:hover span:last-child {
                left: 0;
            }
        }
    }

    &__rating {
        position: relative;
        top: 75%;
        left: 2vw;
        padding: 50px;
        width: 56px;
        height: 56px;
        font-weight: 600;
        border: 1px solid #ffffff;
        background-color: rgba(19, 90, 78, 0.863);

        & p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }
    }
}



.rooms {
    color: #ffffff;
    background: url("../img/bg_rooms.png") left no-repeat;
    height: 80vh;
    width: 100%;
    padding: 100px;


    &__content {
        padding: 30px 10px;
        background-color: rgba(0, 0, 0, .4);
        text-align: left;
        width: 40vw;

        &-title {
            font-size: 50px;
            padding: 50px;
            letter-spacing: 7px;
        }

        &-content {
            font-size: 17px;
            padding: 0 50px 20px 50px;
            line-height: 30px;
        }

        &-btn {
            margin-left: 60%;
            font-size: 15px;
            font-weight: bold;
            padding: 10px 30px;
            background-color: white;
            border: 1px solid black;
            cursor: pointer;
            transition: .5s;

            &:hover {
                color: red;
            }
        }
    }
}

.localization {
    color: #ffffff;
    background: url("../img/bg_localization.png") left no-repeat;
    height: 80vh;
    width: 100%;
    padding: 100px 100px 100px 50%;


    &__content {
        padding: 30px 10px;
        background-color: rgba(0, 0, 0, .4);
        text-align: left;
        width: 40vw;

        &-title {
            font-size: 50px;
            padding: 50px;
            letter-spacing: 7px;
        }

        &-content {
            font-size: 17px;
            padding: 0 50px 20px 50px;
            line-height: 30px;
        }

        &-btn {
            margin-left: 60%;
            font-size: 15px;
            font-weight: bold;
            padding: 10px 30px;
            background-color: white;
            border: 1px solid black;
            cursor: pointer;
            transition: .5s;

            &:hover {
                color: red;
            }
        }
    }
}

.relax {
    color: #ffffff;
    background: url("../img/bg_relax.png") left no-repeat;
    height: 80vh;
    width: 100%;
    padding: 100px;

    &__content {
        padding: 30px 10px;
        background-color: rgba(0, 0, 0, .4);
        text-align: left;
        width: 40vw;

        &-title {
            font-size: 50px;
            padding: 50px;
            letter-spacing: 7px;
        }

        &-content {
            font-size: 17px;
            padding: 0 50px 20px 50px;
            line-height: 30px;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;

    &__row {
        display: flex;

        &-content {
            padding: 35px 0;
            width: 35vw;
            background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("../img/bg_contact.png") no-repeat;

            & .row {
                & .address {

                    & span {
                        display: block;
                        font-size: 20px;
                    }
                }

                & h4 {
                    font-size: 25px;
                    letter-spacing: 2px;
                    padding: 20px 0;
                }
            }

            & .reception {
                padding: 20px 0;
                margin: 0 auto;
                width: 300px;
                border: 1px solid #ffffff;

                & .title {
                    letter-spacing: 10px;
                    padding-bottom: 15px;
                    text-decoration: underline;
                }

                & .address {
                    & span {
                        display: block;
                        font-size: 20px;
                    }
                }
            }
        }

        &-newsletter {
            padding: 35px 0;
            width: 65vw;
            background-color: #000000;

            & p {
                padding: 35px 0;
            }

            & form {
                & .row-1 {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 30px;

                    & input {
                        margin-right: 15px;
                    }

                    & button {
                        background-color: rgb(109, 28, 28);
                        padding: 10px 30px;
                        color: #ffffff;
                        font-weight: 800;
                        border: 1px solid #ffffff;
                        cursor: pointer;
                        transition: .4s;

                        &:hover {
                            color: black;
                        }
                    }
                }

            }
        }
    }

    &__map {
        & iframe {
            width: 100%;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    color: rgba(255, 255, 255, .6);
    background-color: #444;

    &__social-icons {
        & a {
            & img {
                width: 35px;
                height: 35px;
                margin: 20px 25px;
                padding: 5px;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, .6);
                cursor: pointer;
                transition: .3s;

                &:hover {
                    border-left: 1px solid red;
                    border-right: 1px solid red;
                }
            }

        }
    }

    &__top-btn {
        background-color: transparent;
        border: none;
    }
}

@import 'rwd';